#fancybox-lock {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 8020;
    overflow-y: scroll;
    overflow-y: auto;
    overflow-x: auto;
}

.fancybox-inner {
    position: relative;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    width: 100%;
	max-width: 100%;
}

.fancybox-error {
	color: #676767;
	font: 14px/20px 'Montserrat', sans-serif;
	margin: 0;
	padding: 15px;
	white-space: nowrap;
}

a.fancybox-close {
    position: fixed;
    top: 0px;
    right: 23px;
    width: 46px;
    height: 46px;
    cursor: pointer;
    background-position: 0px 0px;
    z-index: 8040;
	opacity: 0.8;  filter: alpha(opacity=50);

}

a.fancybox-close:hover {
    opacity: 1;  filter: alpha(opacity=100);
}


a.fancybox-nav {
    position: absolute;
    top: 46%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    text-decoration: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 999;
    overflow: hidden;
}

.fancybox-type-iframe a.fancybox-nav,
.fancybox-type-inline a.fancybox-nav,
.fancybox-type-html a.fancybox-nav
 {
    width: 42px;
}

a.fancybox-prev {
    left: -13px;

}

a.fancybox-next {
    right: -42px;
}

a.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 46px;
    height: 46px;
    margin-top: -23px;
    cursor: pointer;
    z-index: 8040;
}

a.fancybox-prev span {
    left: 0;
    background-position: 0 -50px;
}

a.fancybox-next span {
    right: 0;
    background-position: 0 -100px;
}

.fancybox-mobile  a.fancybox-nav {
    max-width: 80px;
}

.fancybox-desktop  a.fancybox-nav {
    opacity: 0.5; filter: alpha(opacity=50);
}

.fancybox-desktop a.fancybox-nav:hover {
    opacity: 1; filter: alpha(opacity=100);
}

a.fancybox-expand {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 46px;
    height: 46px;
    z-index: 8050;
    opacity: 0;  filter: alpha(opacity=0);
    background-position: 0 -150px;
    zoom: 1;
    -webkit-transition: opacity .5s ease;
       -moz-transition: opacity .5s ease;
         -o-transition: opacity .5s ease;
            transition: opacity .5s ease;
}

.fancybox-wrap:hover a.fancybox-expand {
    opacity: 0.5;  filter: alpha(opacity=50);
}

.fancybox-wrap a.fancybox-expand:hover {
    opacity: 1;  filter: alpha(opacity=100);
}

.fancybox-tmp {
    position: absolute !important;
    top: -99999px;
    left: -99999px;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible !important;
}


/* Default theme */
.fancybox-default-skin {
    border-color: #f9f9f9;
    background: #f9f9f9;
	height: 100% !important;
}

.fancybox-default-skin-open {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    border-width:1px !important;
}

.fancybox-default-overlay {
    background: #333;
    opacity: 0.8; filter: alpha(opacity=80);
}

.fancybox-default a.fancybox-close,
.fancybox-default a.fancybox-expand,
.fancybox-default a.fancybox-nav span {
	background-image:url(../images/fancybox_sprite.png);
	background-size: 46px auto;
}


@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (-moz-min-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 2dppx) {
    .fancybox-default a.fancybox-close,
    .fancybox-default a.fancybox-expand,
    .fancybox-default a.fancybox-nav span
    {
       background-image:url(../images/fancybox_sprite.png);
        background-size: 46px auto;
    }
}


/* Adding jquery.fancybox-thumbs.css */

#fancybox-thumbs {
    position: fixed;
    left: 0;
    width: 100%;
    z-index: 8080;
    background: rgba(0, 0, 0, 0.3);
}

#fancybox-thumbs.bottom {
    bottom: 0px;
}

#fancybox-thumbs.top {
    top: 0px;
}

#fancybox-thumbs .outer {
    padding: 10px 34px 10px 30px;
}

#fancybox-thumbs .inner {
    width: 100%;
    overflow: hidden;
}

#fancybox-thumbs ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    left : 0;
    overflow: hidden;
}

#fancybox-thumbs ul li {
    float: left;
    padding: 3px;
    margin: 0 4px;
    list-style: none;
}

#fancybox-thumbs ul li a {
    display: block;
    overflow: hidden;
    outline: none;
    background: #222;
    box-shadow: 1px 1px 2px #000;
    border-radius: 2px;
    border: 2px solid #fff;
    zoom: 1;
}

#fancybox-thumbs ul li img {
    display: block;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 2px;
    max-width: none;
}

#fancybox-thumbs ul li.fancybox-thumb-active {
    padding: 0;
}

#fancybox-thumbs ul li.fancybox-thumb-active a {
    opacity: 1;
    border-width: 2px;
    border-color: #ef7b06;
}

.fancybox-thumb-prev, .fancybox-thumb-next {
    position: absolute;
    top: 10px;
    bottom: 10px;
    width: 20px;
    background: #222;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    display: none;
}

.fancybox-thumb-prev {
    left: 4px;
}

.fancybox-thumb-next {
    right: 4px;
}

.fancybox-thumb-prev:hover, .fancybox-thumb-next:hover {
    background: #111;
    background: rgba(0, 0, 0, 0.5);
}

.fancybox-thumb-prev span, .fancybox-thumb-next span {
    position: absolute;
    top: 50%;
    width: 8px;
    height: 12px;
    margin-top: -6px;
    background-repeat: no-repeat;
}

.fancybox-thumb-prev span {
    right: 5px;
    background:url(../images/popup-prev.png) 0 0 no-repeat;
}

.fancybox-thumb-next span {
    right: 5px;
    background:url(../images/popup-next.png) 0 0 no-repeat;
}


.collapse{
    position: fixed;
    width: 30px;
    height: 30px;
	background:#f3f3f3 url(../images/collapse.png) center center no-repeat;
    right: 30px;
    bottom: 93px;
    z-index: 9999999999 !important;
    cursor: pointer;
	transition:bottom 0.4s linear;
	-webkit-transition:bottom 0.4s linear;
	opacity: 0.8;  filter: alpha(opacity=50);
	display:block;

}
.collapse-bottom{
    bottom: 0px !important;
    cursor: pointer;
    transition:bottom 0.4s linear;
	-webkit-transition:bottom 0.4s linear;
}

.collapse:hover {
    opacity: 1;  filter: alpha(opacity=100);
}

.fancybox-skin {
	border-width:0 !important;
	margin-left: 15px !important;
    margin-top: 15px !important;
}
.fancybox-margin {
	margin-right:0 !important;
}
.fancybox-default-skin-open {
	overflow:auto;
}

	/* .fancybox-wrap {
		margin:0 !important;
		top:40px !important;
		height:78% !important;
	} */
	.fancybox-wrap {
		margin:0 !important;
		top:-1% !important;
		height:84% !important;
	}

@media screen and (max-width: 1280px) and (min-width:1280px) and (max-height:923px) and (min-height:923px) {
	.fancybox-wrap {
		margin:0 !important;
		top:20% !important;
		height:59.5% !important;
	}
}

@media screen and (max-width: 767px) {
	.fancybox-wrap {
		margin:0 !important;
		padding:0 !important;
		left:0 !important;
		right:0 !important;
		top:20px !important;
		width:100% !important;
		height:100% !important;
	}
	.fancybox-inner {
		width:100% !important;
	}
	.fancybox-skin {
		border-width:0 !important;
		margin-left: 0px !important;
		margin-top: 20px !important;
	}

	a.fancybox-prev {
    left: -9px;
	background: rgba(14, 14, 15, 0.5);
    border-radius: 50%;
	width:45px;
	height:45px;
	padding:5px;
    transition:all 1s ease;
	text-align:center;
}

a.fancybox-next {
    right: -7px;
	background: rgba(14, 14, 15, 0.5);
    border-radius: 50%;
	width:45px;
	height:45px;
	padding:5px;
    transition:all 1s ease;
	text-align:center;
}



}
