body{
    background: #F2F3F4 !important;
    /* height: max-content; */
}
.not-scrollable {
    overflow-y: hidden;
}
#fancybox-lock {
    overflow: hidden !important;
}
.fancybox-wrap {
    transform: initial !important;
}
.fancybox-inner {
    min-height: 400px !important;
}
.iframe-head {
    background: #f3f3f3;
    padding: 0px;
    width: 100%;
    margin-bottom: 5px;
    top: 0;
    min-height: 30px;
    display: inline-block;
    box-shadow: -2px 5px 4px -5px rgba(0,0,0,0.24);
}
.iframe-head-socials {
    float: right !important;
    text-align: right;
}
.iframe-head-title {
    width: 62%;
    float: left;
}
.info-block {
    padding: 6px 10px;
    font-size: 13px;
    border-top: 1px solid #e7e7e7;
    border-radius: 0 0 5px 5px;
    color: #575759 !important;
}
.iframe-body {
    padding: 0 10px;
    /* width: 100%; */
    max-height: inherit;
    clear: both;
    overflow: auto;
    background: url('../images/loading.gif') top no-repeat;
    background-position: 50% 35%;
    text-align: center;
}
.feed-card-view{
    background: url('../images/loading.gif') top no-repeat;
    background-position: 50% 35%;
    text-align: center;
    height: 100%;
}
.iframe-head h4 {
    padding: 0;
    margin: 10px;
    overflow: hidden;
    max-height: 44px;
    font-size: 13px;
}
.header-bar {
    box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 0px 2px 2px rgba(0, 0, 0, 0.098), 0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}
.list-inline {
    display: inline-flex;
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
}
.site-content-toolbar {
    background: white !important;
    color: #202020 !important;
    z-index: 3;
}
header-bar md-icon.md-default-theme, md-icon {
    color: rgba(0,0,0,0.54);
	fill:rgba(0,0,0,0.54);
}
.search-bar { background-color: #222; }
.search-bar * { color: white !important; }
.search-bar input { border-bottom-color: white; }
.md-errors-spacer { display:none; }
.md-subheader .md-subheader-inner {
	padding-top:0px !important;
	padding-bottom:0px !important;
}
.example-card {
  width: 400px;
}

md-card md-card-header {
	padding:5px;
}
.feedcardview md-card-header md-icon {
    fill:#b01919 !important;
}
.after,.feedmouseover {
    position: absolute;
    z-index: 1;
    top: 0;
    left:4.6%;
    height: 100%;
    display: none;
    color: #FFF;
    right: 0;
    overflow: hidden;
}

.share-tray{
    vertical-align: middle;
    margin: 0 auto;
    top: 35%;
    position: absolute;
    left:18%;
}

/*Copyright start */

.copyright-grid h3{
    text-align:center;
    text-transform:uppercase;
    margin-top:10px;
    margin-bottom:10px;
    font-weight:700;
    font-size:18px;
}
.copyright-grid h4{
    text-align:left;
    text-transform:uppercase;
    margin-top:30px;
    padding-bottom:10px;
    font-size:16px;
}
.copyright-area {
    background:#fff;
    padding:20px 50px 20px 50px;
    width:80%;
    border-radius:4px;
    margin:0 auto;
    -webkit-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.3);
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.3);
    margin-bottom:20px;
    line-height:22px;
    font-size:14px;
}
.copyright-area a {
    color:#78c05b;
}
.copyright-area a:hover {
    color:#f38900;
}

.copyright-area ol li.list-group-item {
    list-style: decimal;
    display: list-item;
    border:none;
    margin-left:20px;
}


.copyright-area p{
    padding-bottom:20px;
}

/*Copyright end */
@media (min-width: 960px) and (max-width: 1279px) {

}
@media (min-width: 600px) and (max-width: 959px) {
    .sub-tabs{
        top:48px !important;
    }
}
@media (max-width: 600px) {
    .sub-tabs{
        top:64px !important;
    }
}

