md-list-item .md-list-item-inner>md-icon:first-child:not(.md-avatar-icon) {
	margin:0px 10px 0px 0px;
}
md-list-item,md-list-item:before {
	min-height:40px;
}
md-list-item>p {
margin-top:5px;
}
md-list-item .md-list-item-inner {
	height:40px;
}
md-tabs:not(.md-no-tab-content):not(.md-dynamic-height) {
    min-height: auto;
}
md-backdrop.md-opaque {
    position: fixed;
}
body {
	top: 0;
}
.md-tab{
	font-size: 14px;
	/* letter-spacing: .1rem; */
	font-family: 'Fakt','AvenirNext-Medium','Segoe UI','sans-serif';
	color: grey !important;
	font-weight: 400;
	padding: 12px 35px !important;
}
md-ink-bar{
	margin-left: 30px;
	margin-right: 30px;
	margin-bottom: 10px;
}
.md-tab.md-active{
	color: #ef4836 !important;
}
md-card-title-text {
	display:grid;
	margin-top:3px;
}
md-card md-card-content {
	font-size: 15px;
	color: #666b73;
}
md-card md-card-header md-card-header-text {
	margin: 4px 0 0 5px;
}
md-card md-card-title + md-card-content {
    padding: 0;
}
md-card md-card-content {
    padding: 0;
}
md-card md-card-actions {
	margin: 0;
	padding: 3px 5px 5px 5px;
	background: #fff;
}
md-menu-item .md-button.md-raised:not([disabled]) {
	background-color: rgba(158,158,158,0.2);
    box-shadow: 0 2px 5px 0 rgb(245,0,87);
}

md-card-actions button md-icon {
	min-height: 18px !important;
	height: 18px !important;
}

md-card-actions button{
	text-transform: inherit !important;
}

md-card-actions{
	color: #415563;
	font-size: 14px;
}
md-card-header-text a:hover{
	color:blue !important;
	text-decoration:underline !important;
}
.md-button.md-fab.md-mini.user-menu {
    background: #afafaf;
}
input[type=search]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

@media (max-width: 480px) {
	.md-tab{
		font-weight: 400;
		padding: 12px 15px !important;
		font-size: 13px;
	}
	md-ink-bar {
		margin-left: 15px;
		margin-right: 15px;
	}
}
