
.spinner {
    width: 45px;
    height: 40px;
    /* margin: 100px auto; */
    margin-left: -43px;
    background-color: #B31C1C;
    /* position: absolute; */
    border-radius: 100%;  
    -webkit-animation: sk-scaleout 2.0s infinite ease-in-out;
    animation: sk-scaleout 2.0s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
      -webkit-transform: scale(1.0);
      opacity: 0;
    }
  }
  
  @keyframes sk-scaleout {
    0% { 
      -webkit-transform: scale(0);
      transform: scale(0);
    } 100% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
      opacity: 0;
    }
  }
md-dialog{
    max-width: 90%;
    max-height: 95%;
}
.md-dialog-content .md-button.md-fab{
    background: #f2f2f2;
    height: 52px;
    width: 54px;
    margin: 0;
}
.md-dialog-content span{
    color: #1287DE;
}
.md-dialog-content .md-button img{
    width: 34px;
    padding: 12px 0 0 0;
}
.md-dialog-content .md-button.md-fab:not([disabled]):focus {
    background-color: #E0E0E0;
}
.md-dialog-content .md-button.md-fab:not([disabled]):hover {
    background-color: #E0E0E0;
}
.md-dialog-content .md-button.md-fab.active {
    background-color: #f2f2f2;
}
.check{
    margin-left: -17px;
    margin-bottom: 20px;
}
video {
  /* object-fit: fill; */
  width: 100% !important;
}
.drag_handle{
  color: #e0e0e0;
}
#sortable:hover .drag_handle{
  color:#757575;
}
.md-bottom.md-center {
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  position: fixed;
}
/*customise categories screen*/
.textonimage{
    position: absolute;
    height:40px;
    opacity: 0.9;
    font-family: Verdana, Geneva, sans-serif;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
    width:100%;
}
.img-rounded {
    border-radius: 6px;
}
.textcategories{
   font-family: Helvetica, Verdana;
   color: #FFF;
   z-index: 200;
   font-size:14px;
   font-weight:600;
}
.clsCatImage{
   display:inline-block;
   padding:5px;
   position:relative;
   margin-top:2;
}
.clsCustomise hr{
  border:1px solid #bababb;
}
.clsCustomise span img{
    opacity: 0.5;

}
.clsCustomise span.imgChked img{
    opacity: 1;
}
.clsCustomise h3, .clsCategories h3{
  padding:10px;
  position: absolute;
  color: #ffffff;
}
.clsCustomise .clsCategories .clsCatImage img{
  width:120px;max-height:80px;filter:inherit;
}
.clsCustomise .clsCategories .clsCatImage h2{
  font-size:12px;font-weight:700;text-transform: capitalize;
}
.clsCustomise .clsCustomCategories{
  max-width: 500px;border: 1px solid grey;border-radius: 5px;margin: 0 auto;
}
.clsCustomise .clsAddCustom{
  display:inline-block;padding:0;margin: 30px;
}
.clsCustomise .clsAddCustom h4{
  color:#333;font-weight:500;font-size:18px;
}
.clsCustomise .clsAddCustom .search button{
  font-size:14px;margin-bottom:0px !important;margin-left:0;
}
.clsCustomCategories{
  margin-top: 20px !important;
}
.clsCustomise .clsCustomItems{
  display:inline-block;margin:0px 30px;
}
.clsCustomise .clsCustomItems a{
  font-size:14px;margin-left:5px;color:#fff;
}
.clsCustomise .clsSuggestTopics img{
  max-height:66px;filter:inherit;
}
.clsCustomise .clsSuggestTopics h2{
  font-size:11px;font-weight:700;
}
.personalise0{
  background-color: #284056;
}
.personalise1{
  background-color: #ef4836;
}
.personalise2{
  background-color: #fd8104;
}
.personalise3{
  background-color: #fdbd21;
}
.personalise4{
  background-color: #9ebf2f;
}
.personalise5{
  background-color: #ae7ac3;
}
.personalise-tag{
  padding: 8px;
  margin:2px;
  font-size:18px;
  line-height: 1;
  color: #fff;
  text-align: center;
  vertical-align: baseline;
  border-radius: .25em;
  position: relative;
  float: left;
}
/*end customise screen*/

/*-------------- search -------------*/
.search:before, .search:after{
    content:"";
    display:table;
  }
  
  .search:after{
    clear:both;
  }

  .search{
    zoom:1;
  }
  .alert-danger {
    margin-top: 5%;
}
  .err_note {
    font-size: 0.9em;
    margin: -5px 40px 0px 20px;
    color: rgb(1, 57, 114);
    background-color: #F2DEDE;
    color: #A94442;
    border-color: #EBCCD1;
    padding: 20px;
    font-size: 16px;
}

  /*-------------------------------------*/	
  
  .form-wrapper {
      margin: 50px auto 60px auto;
      margin-left: 10px;
      margin-right: 10px;
      background: #444;
      background: rgba(0,0,0,.2);
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
      display: inline-flex;
  }
  
  .form-wrapper input {
      height: 40px;
      font-size: 16px;
      padding: 10px 5px;
      float: left;   
      border: 0;
      background: #fff;
      -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      -moz-border-radius: 3px ;
      -webkit-border-radius: 3px;
      border-radius: 3px;  
     box-sizing: border-box;
     -webkit-box-sizing:border-box;
     -moz-box-sizing: border-box;
  }
  
  .form-wrapper input:focus {
      outline: 0;
      background: #fff;
      border:1px solid #1c62b9;
      /* -moz-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;
      -webkit-box-shadow: 0 0 2px rgba(0,0,0,.8) inset;*/
      box-shadow: 0 1px 2px rgba(0,0,0,.3) inset; 
  }
  
  .form-wrapper input::-webkit-input-placeholder {
     color: #999;
     font-weight: normal;
     font-style: italic;
  }
  
  .form-wrapper input:-moz-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }
  
  .form-wrapper input:-ms-input-placeholder {
      color: #999;
      font-weight: normal;
      font-style: italic;
  }    
  
  .form-wrapper button {
      overflow: visible;
      position: relative;
      float: right;
      border: 0;
      padding: 0;
      cursor: pointer;
      height: 40px;
      width: 80px;
      font-size: 14px;
      color: #fff;
      text-transform: uppercase;
      background: #e0e0e0;
      -moz-border-radius: 0 3px 3px 0;
      -webkit-border-radius: 0 3px 3px 0;
      border-radius: 0 3px 3px 0;      
      text-shadow: 0 -1px 0 rgba(0, 0 ,0, .3);
      border: 1px solid #afafaf;
  }   
    
  .form-wrapper button:hover{		
      background: #e0e0e0;
  }	
    
  .form-wrapper button:active,
  .form-wrapper button:focus{   
      background: #e0e0e0;    
  }
  
  /* .form-wrapper button:before {
      content: '';
      position: absolute;
      border-width: 8px 8px 8px 0;
      border-style: solid solid solid none;
      border-color: transparent #ef4836 transparent;
      top: 12px;
      left: -6px;
  }
  
  .form-wrapper button:hover:before{
      border-right-color: #ef4836;
  }
  
  .form-wrapper button:focus:before{
      border-right-color: #ef4836;
  }    
  
  .form-wrapper button::-moz-focus-inner {
      border: 0;
      padding: 0;
  } */
  .menu-panel {
    width: 256px;
    background-color: #fff;
    border-radius: 4px;
}
.menu-panel .menu-item > .md-button {
  display: inline-block;
  border-radius: 0;
  margin: auto 0;
  font-size: 15px;
  text-transform: none;
  font-weight: 400;
  height: 100%;
  padding-left: 16px;
  padding-right: 16px;
  width: 100%;
  text-align: left;
  min-height: 44px;
}
.albuminputContainer md-input-container{
  width:100%;
  text-align:center;
}
/* apps-banner-details */
#appbanner {
  position: absolute;
  left: 0;
  top: -82px;
  width: 100%;
  height: 70px;
  font-family: Roboto,sans-serif;
  background: #FFF;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  z-index: 10000;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  -webkit-text-size-adjust: none;
}
#appbanner .app-container {
  margin: 0 auto;
}
#appbanner .app-icon {
  position: absolute;
  left: 22px;
  top: 12px;
  display: block;
  width: 72px;
  height: 72px;
  background: 0 0;
  background-size: cover;
  border-radius: 3px;
  box-shadow: none;
}
#appbanner .app-icon {
  left: 14px;
  top: 13px;
  width: 50px;
  height: 50px;
}
#appbanner .app-info {
  position: absolute;
  left: 103px;
  top: 18px;
  width: 58%;
  font-size: 11px;
  font-weight: 700;
  color: #6a6a6a;
  text-shadow: 0 1px 0 rgba(255,255,255,.8);
}
#appbanner .app-info {
  left: 72px;
  top: 11px;
  width: 66%;
  font-size: 11px;
}
#appbanner .app-info strong {
  display: block;
  font-size: 20px;
  color: #212121;
  line-height: 24px;
  font-weight: 500;
  font-family: Roboto;
  text-shadow: none;
}
#appbanner .app-info strong {
  font-size: 14px;
  line-height: 18px;
}
#appbanner .app-info>span {
  display: block;
  font-weight: 400;
  color: #919191;
  line-height: 20px;
}
#appbanner .app-info>span {
  font-size: 12px;
  line-height: 16px;
}
#appbanner .app-button {
  position: absolute;
  right: 24px;
  top: 28px;
  border: 1px solid rgba(255,255,255,.5);
  padding: 9px 12px 8px;
  text-align: center;
  color: #FFF;
  background: #ef4836;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  box-shadow: none;
  font-weight: 500;
}
#appbanner .app-button {
  right: 14px;
  top: 22px;
  padding: 8px 8px 7px;
  font-size: 11px;
}

@media (max-width: 480px) {
	.btnLogin{
		min-width: 50px;
		padding: 0;
		margin: 0;
  }
  
  md-card-actions .material-icons {
    font-size: 26px;
  }
}

@media (max-width: 320px) {
	md-dialog {
      max-width: 98%;
      max-height: 95%;
  }
}