header {
    background-color: #FFF;
    box-shadow: -1px 2px 26px -6px rgba(0,0,0,0.37);
    /* border-bottom: 0.5px solid rgba(0,0,0,0.37); */
    padding-top: 10px;
    padding-bottom: 10px;
}
body{
    /* background-color: #fff !important; */
    background-color: rgb(250, 250, 250) !important;
}
header ul.top-menu li a {
    font-size: 13px;
    font-weight: bold;
    text-transform: none;
    color: #ef4836;
    cursor: pointer;
}
/* header a{
    color: #333 !important;
} */
md-list-item a{
    font-family: 'Roboto', sans-serif;
    display: block;
    color: #999999;
}
.search-form input {
    background-color: #fff;
    color: black !important;
    font-size: 16px;
}
#search{
    border-bottom: 1px solid;
}
#sidebar-stick h4{
    color: black !important;
    font-weight: 500;
}
.left-sidebar ul.menu-sidebar{
    margin-left: 14px;
}
.left-sidebar ul.menu-sidebar li a,md-list-item a {
    font-weight: normal;
    text-transform:inherit;
    font-size: 15px;
    border: none;
}
.feed-items{
    padding:0 40px 10px 40px;
}
button md-icon{
    padding-top: 2px;
    padding-left: 1px;
}
.left-sidebar ul.menu-sidebar li a .fa {
    font-size: 20px;
}
.left-sidebar{
    padding-left: 50px;
    background: #fff;
    /* box-shadow: 4px 0 5px -5px rgba(0,0,0,0.37); */
    margin-top: 1px;
}
.left-sidebar ul.menu-sidebar li {
    margin-bottom: 5px;
}
.video-item {
    /* box-shadow: 11px 12px 11px -14px #111;   */
    background: #FFF;
    /* box-shadow: 0px 1px 5px rgb(100,100,100); */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 7px 7px 0 0;
}
.video-item:focus{
    outline: none;
}
.video-item.thumb{
    text-align: center;background: black;border-radius: 7px 7px 0 0;
}
.feed-item{
    padding: 0 5px 2px 5px;
    margin-top: 15px;
}
.video-item .thumb small.time {
    background-color: hsl(0, 0%, 6.7%);
    opacity: .8;
    width: 40px;
    font-weight: 500;
}
.date{
    float: right;
}
h1.new-video-title{
    padding-bottom: 0px;
}
.fancybox-wrap {
    box-sizing: unset !important;
}
#all-output{
    border-left: 1px solid #dad1d1;
}
/* .fb-video span,.fb-video span iframe{
    max-height: 500px !important;
} */
.video-item img{
    min-height: 130px;
    max-height: 130px;
    border-radius: 7px 7px 0 0;
    width: 100%;
    cursor: pointer;
}
.video-item a.title {
    font-size: 13px;
    font-weight: 500;
    text-transform: none;
    line-height: 1.3;
}
.video-item .video-info{
    padding: 8px 7px 2px 7px;
}
.video-item span{
    padding: 0;
    font-size: 11.5px;
}
.slick-prev:before, .slick-next:before {
    color: #9c9191;
    font-size: 40px;
}
.slick-prev, .slick-next{
    width: 40px;
    height: 40px;
    top: 35%;
    z-index: 9;
}
.video-item a.channel-name,.video-item span{
    font-weight: 400;
}


@media only screen and (max-width: 767px) {
    .feed-items{
        padding:0;
    }
    .video-item img{
        min-height: 100%;
        max-height: 100%;
        border-radius: 7px 7px 0 0;
        width: 100%;
        cursor: pointer;
    }
}