<!DOCTYPE html>
<html manifest="manifest.appcache">

<head>
  <title>Trendis: Frontpage of social media!!</title>
  <meta name="referrer" content="no-referrer">
  <meta name="apple-itunes-app" content="app-id=1168569924">
  <meta name="google-play-app" content="app-id=com.app.trendis">
  <meta name="keywords" content="Frontpage of social media,Trendis, Trending, Social, Media, funny, videos,memes,reads,viral,buzz,humor,sports,entertainment,infotainment,lifestyle,comics,pranks,football,basketball,cricket,fight,soccer,baseball,golf,tennis,moview,music,celebrity,auto,tech,news,beuty,food,health,travel">
  <meta name="description" content="Discover latest trending videos, news and pictures from across social networks tailored to your interests in a single place.">
  <meta name="robots" content="index,follow" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <meta property="og:url" content="http://www.trendis.com/" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Trendis:Frontpage of social media!!" />
  <meta property="og:description" content="Discover latest trending videos, news and pictures from across social networks tailored to your interests in a single place."
  />
  <meta name="og:keywords" content="Frontpage of social media,Trendis, Trending, Social, Media, funny, videos,memes,reads,viral,buzz,humor,sports,entertainment,infotainment,lifestyle,comics,pranks,football,basketball,cricket,fight,soccer,baseball,golf,tennis,moview,music,celebrity,auto,tech,news,beuty,food,health,travel">
  <meta property="og:image" content="https://www.trendis.com/images/logo.png" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800|Raleway:400,500,700|Roboto:300,400,500,700,900|Ubuntu:300,300i,400,400i,500,500i,700" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"  type="text/css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  
  <!--TODO with swapnil-->
  <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
  <!-- build:css(.) styles/vendor.css -->
  <!-- bower:css -->
  <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/slick.css">
  <link rel="stylesheet" href="styles/slick-theme.css">
  <link rel="stylesheet" href="styles/jquery.fancybox.css">
  <link rel="stylesheet" href="styles/fancybox-overide.css">
  <link rel="stylesheet" href="styles/main.css">
  <link rel="stylesheet" href="styles/trendis.css">
  <link rel="stylesheet" href="styles/override.css">
  <!-- endbuild -->
</head>

<body ng-app="trendisAppClientApp" ng-controller="MenuCtrl" twitter-widget-initialize>
  <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <!-- Add your site or application content here --> 
  <div style="display:none;">
    <h1>Frontpage of social media</h1>
    <h2>Discover latest trending videos, news and pictures from across social networks</h2>
  </div>
  <div id="header" layout="column" style="display: none;">
      <div ng-hide="hideAppBanner" hide-gt-xs id="appbanner" style="position: absolute; top: 0px;display:none;">
          <div class="app-container">
            <span class="app-icon" style="background-image: url(&quot;./images/t.png&quot;);"></span>
            <div class="app-info">
              <strong>Trendis</strong>
              <span>Frontpage of social media</span>
              <span>View trending stuff on the app.</span>
            </div>
            <a ng-href="{{deviceos=='ios'?'https://itunes.apple.com/us/app/trendis/id1168569924?mt=8':'https://play.google.com/store/apps/details?id=com.app.trendis'}}"
              class="app-button">
              <span>GET IT</span>
            </a>
          </div>
        </div>
    <md-toolbar class="site-content-toolbar header-bar" layout="row" style="position:fixed;top:0px;">
      <div class="md-toolbar-tools" style="height:74px;max-height:74px;">
        <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()">
          <md-icon style="fill: rgba(0,0,0,0.54) !important;" md-svg-icon="images/icons/menu.svg"></md-icon>
        </md-button>
        <div class="md-ripple-container"></div>
        </button>
        <div ng-if="!searchform" hide-xs style="width:100%;text-align:center;">
          <a href="#/trends"><img style="margin-left:70px;width:200px;margin-bottom:6px;height:60px;" class="logo-image" src="images/big-logo.png" alt="Trendis"></a>
        </div>
        <div ng-if="searchform" style="width:100%;text-align:center;">
            <form ng-submit="searchFeed(searchText)" style="width:100%;max-width: 1100px;" hide-xs name="frm-search" role="search" class="form form-wrapper search" flex md-no-float
            flex="50">
            <input id="txtSearch" ng-blur="searchBlurEvent($event)" type="text"  focus-me="searchform" ng-model="searchText" flex md-no-float flex="50" placeholder="Search here across all social networks..."
              required>
            <i ng-click="closeSearchBar($event)" style="padding-top: 8px;margin-left: -30px;cursor:pointer;" class="material-icons">clear</i>
          </form>  
        </div> 
        
        <img hide-gt-xs class="logo-image" alt="Trendis" src="images/apple-touch-icon.png">
        <!-- mobile devices search -->
        <div show-xs hide-gt-xs>
          <form ng-submit="searchFeed(searchText)">
            <md-input-container style="padding-left: 0px;" md-no-float class="md-block">
              <input style="max-width:250px;" ng-model="searchText" type="text" placeholder="Search here..">
            </md-input-container>
          </form>
        </div>
        <div hide-xs>
          <svg ng-click="openSearchBar()" style="cursor:pointer;" ng-if="!searchform" class="search-button" role="button" width="30" height="30" viewBox="0 0 30 30" data-reactid=".0.0.0.3.0.0.0.0"><g stroke="none" stroke-width="1.5" fill="none" style="fill-rule:evenodd;" data-reactid=".0.0.0.3.0.0.0.0.0"><g stroke="#333" data-reactid=".0.0.0.3.0.0.0.0.0.0"><g transform="translate(6.0, 5.0)" data-reactid=".0.0.0.3.0.0.0.0.0.0.0"><path d="M12,12 L19.0710678,19.0710678" style="stroke-linecap:square;" data-reactid=".0.0.0.3.0.0.0.0.0.0.0.0"></path><circle cx="7" cy="7" r="7" data-reactid=".0.0.0.3.0.0.0.0.0.0.0.1"></circle></g></g></g></svg>
        </div>
        
        <!-- <md-button class="btnLogin" ng-click="isLoggedIn?logout():login()" style="text-transform:inherit;color:black;font-family: 'Fakt','AvenirNext-Medium','Segoe UI','sans-serif';font-size: 13px;">{{isLoggedIn?'Sign Out':'Sign In'}}</md-button> -->
      </div>
    </md-toolbar>
    <div style="top: 53px;z-index: 10;position: fixed;width: 100%;font-size:13px;" flex>
      <span layout="row">
        <hr style="height:0;margin-top: 14px;color:#ddd;" flex/><span style="font-family: 'Fakt','AvenirNext-Medium','Segoe UI','sans-serif';font-size: 13px;margin-top:4px;" hide-xs>Front page of Social Media</span>
        <hr style="height:0;margin-top: 14px;color:#ddd;" flex/>
      </span>
    </div>
    <div ng-show="menuname!='settings' && menuname!='sharepad' && menuname!='copyright'" data-ng-include="'views/tabs.html'"></div>
    <md-sidenav-container class="example-container">
      <md-sidenav id="md-sidebar" style="background:#f5f5f5;position:fixed;display:none;" class="md-sidenav-left" md-component-id="left">
        <div>
          <md-toolbar class="site-content-toolbar header-bar" layout="row">
            <div class="md-toolbar-tools">
              <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="toggleLeft()">
                <md-icon style="fill: rgba(0,0,0,0.54) !important;" md-svg-icon="images/icons/menu.svg"></md-icon>
              </md-button>
              <div class="md-ripple-container"></div>
              </button>
              <a href="#/trends"><img class="logo-image" alt="Trendis" src="images/logo.png"></a>
            </div>
          </md-toolbar>
        </div>
        <md-content>
          <md-list>
            <md-subheader style="background:whitesmoke;color:#ef4836;font-size:18px;padding-bottom:5px !important;padding-top:5px!important;">EXPLORE</md-subheader>
            <md-list-item ng-style="activeMenuConfig.id==menuConfig.id ? { 'background-color':'rgba(158,158,158,0.2)' } :{ 'background':'inherit' }"
              ng-href="{{menuConfig.id=='home'?'#/trending':getMenuUrl(menuConfig)}}" class="noright" ng-click="toggleLeft()"
              ng-repeat="menuConfig in menuConfigs">
              <md-button ng-href="{{menuConfig.id=='home'?'#/trending':getMenuUrl(menuConfig)}}" style="width:32px;height:32px;min-height:32px;background-color: #df210f;"
                class="md-fab md-mini" aria-label="User">
                <md-icon style="padding-bottom: 6px;" md-svg-icon="images/icons/{{menuConfig.menuIcon}}.svg"></md-icon>
              </md-button>
              <p>&nbsp;&nbsp;{{menuConfig.name}}</p>
            </md-list-item>
            <md-divider></md-divider>
            <br>
            <md-list-item class="noright" ng-click="null">
                <md-button ng-href="{{(_mediaScreen=='xs' || _mediaScreen=='sm') ? '#/settings' : '#/my-settings'}}" href="" ng-click="toggleLeft()" class="md-accent" style="background:#ef4836;width:-webkit-fill-available;color:#fff;text-align:left;">
                  <md-icon style="color:#fff;margin-right:10px;">control_point</md-icon>
                  Create Personalize Feed
                </md-button>
              </md-list-item>
            <br>
            <md-list-item class="noright" ng-click="null">
              <md-button href="#/sharepad" ng-click="toggleLeft()" class="md-accent" style="background:#ef4836;width:-webkit-fill-available;color:#fff;text-align:left;">
                <md-icon style="fill:#fff;" md-svg-icon="images/icons/bookmark-white_1.svg"></md-icon> &nbsp;&nbsp; All bookmarks
              </md-button>
            </md-list-item><br>
            <md-divider></md-divider>
          </md-list>
          <md-list-item>
            <a ng-if="!isLoggedIn" ng-click="login()"><img alt="Login" src="images/fb-login.png" style="cursor: pointer;"></a>
            <a ng-if="isLoggedIn" ng-click="logout()"><img alt="Logout" src="images/fb-logout.png" style="cursor: pointer;"></a>
          </md-list-item>
          <!-- <div class="fb-page" data-href="https://www.facebook.com/trendispage" data-small-header="false" data-width="300" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div> -->
          
        </md-content>
      </md-sidenav>
    </md-sidenav-container>
  </div>
  <div id="container" ng-view="" autoscroll="false"></div>
  <md-button ng-show="menuname!='settings' && menuname!='live' && menuname!='sharepad' && menuname!='copyright' && menuname!='trends'" style="background:red;position:fixed;"
    ng-click="showFilter($event)" class="md-fab md-fab-bottom-right" aria-label="Use Android" ng-controller="ContentFilterCtrl"
    ng-init="init()">
    <md-icon md-svg-src="images/icons/filter.svg"></md-icon>
  </md-button>
  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o), m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script',
      '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-71515570-1', 'auto');
		//  ga('send', 'pageview');
  </script>

  <!-- build:js(.) scripts/vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/lodash/lodash.js"></script>
  <script src="bower_components/angular-local-storage/dist/angular-local-storage.js"></script>
  <script src="bower_components/angular-indexedDB/angular-indexed-db.js"></script>
  <script src="bower_components/rxjs/dist/rx.all.js"></script>
  <script src="bower_components/rxjs-jquery/rx.jquery.js"></script>
  <script src="bower_components/angular-easyfb/build/angular-easyfb.js"></script>
  <script src="bower_components/jquery.browser/dist/jquery.browser.js"></script>
  <script src="bower_components/fingerprintjs2/dist/fingerprint2.min.js"></script>
  <script src="bower_components/waypoints/lib/noframework.waypoints.min.js"></script>
  <script src="bower_components/SHA-1/sha1.js"></script>
  <script src="bower_components/angulartics/src/angulartics.js"></script>
  <script src="bower_components/angulartics/src/angulartics-clicky.js"></script>
  <script src="bower_components/angulartics/src/angulartics-cnzz.js"></script>
  <script src="bower_components/angulartics/src/angulartics-ga-cordova.js"></script>
  <script src="bower_components/angulartics/src/angulartics-gtm.js"></script>
  <script src="bower_components/angulartics/src/angulartics-piwik.js"></script>
  <script src="bower_components/angulartics/src/angulartics-scroll.js"></script>
  <script src="bower_components/angulartics/src/angulartics-splunk.js"></script>
  <script src="bower_components/angulartics/src/angulartics-woopra.js"></script>
  <script src="bower_components/angulartics/src/angulartics-marketo.js"></script>
  <script src="bower_components/angulartics/src/angulartics-intercom.js"></script>
  <script src="bower_components/angulartics/src/angulartics-inspectlet.js"></script>
  <script src="bower_components/angulartics/src/angulartics-newrelic-insights.js"></script>
  <script src="bower_components/angulartics-google-analytics/dist/angulartics-google-analytics.min.js"></script>
  <script src="bower_components/angular-filter/dist/angular-filter.js"></script>
  <script src="bower_components/IndexedDBShim/dist/indexeddbshim.js"></script>
  <script src="bower_components/ngtweet/dist/ngtweet.js"></script>
  <script src="bower_components/imgcheckbox/jquery.imgcheckbox.js"></script>
  <script src="bower_components/jquery-ui/jquery-ui.js"></script>
  <script src="bower_components/angular-ui-sortable/sortable.js"></script>
  <script src="bower_components/clipboard/dist/clipboard.js"></script>
  <script src="bower_components/ngclipboard/dist/ngclipboard.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js({.tmp,app}) scripts/scripts.js -->
  <script src="scripts/ui/jquery.fancybox.js"></script>
  <script src="scripts/app.js"></script>
  <script src="scripts/ui/index.js"></script>
  <script src="scripts/ui/ng-youtube.js"></script>
  <script src="scripts/ui/angular-css.min.js"></script>
  <script src="scripts/config/storeconfig.js"></script>
  <script src="scripts/config/menuconfig.js"></script>
  <script src="scripts/config/channelconfig.js"></script>
  <script src="scripts/config/deviceid.js"></script>
  <script src="scripts/config/commonfunctions.js"></script>
  <script src="scripts/services/utilityservice.js"></script>
  <script src="scripts/controllers/menu.js"></script>
  <script src="scripts/controllers/feed.js"></script>
  <script src="scripts/directives/feedcardview.js"></script>
  <script src="scripts/directives/whenscrolled.js"></script>
  <script src="scripts/services/channel/facebookChannel.js"></script>
  <script src="scripts/services/channel/favoriteChannel.js"></script>
  <script src="scripts/services/channel/trendischannel.js"></script>
  <script src="scripts/services/cardviewfactory.js"></script>
  <script src="scripts/services/feedserviceprovider.js"></script>
  <script src="scripts/services/constantservice.js"></script>
  <script src="scripts/services/storageservice.js"></script>
  <script src="scripts/services/pipeservice.js"></script>
  <script src="scripts/services/favoriteservice.js"></script>
  <script src="scripts/services/countryservice.js"></script>
  <script src="scripts/services/contentfilterservice.js"></script>
  <script src="scripts/services/slideshowservice.js"></script>
  <script src="scripts/services/userservice.js"></script>
  <script src="scripts/filters/datetotimeago.js"></script>
  <script src="scripts/directives/imageonload.js"></script>
  <script src="scripts/controllers/contentfilter.js"></script>
  <script src="scripts/services/waitutilservice.js"></script>
  <script src="scripts/filters/reactionstostring.js"></script>
  <script src="scripts/directives/share.js"></script>
  <script src="scripts/services/shareservice.js"></script>
  <script src="scripts/directives/sharetray.js"></script>
  <script src="scripts/directives/instafeedview.js"></script>
  <script src="scripts/controllers/search.js"></script>
  <script src="scripts/controllers/settings.js"></script>
  <script src="scripts/directives/imgcheckdir.js"></script>
  <script src="scripts/services/categoryservice.js"></script>
  <script src="scripts/controllers/feedbackdialog.js"></script>
  <script src="scripts/services/feedbackservice.js"></script>
  <script src="scripts/controllers/personalisecategory.js"></script>
  <script src="scripts/services/facebookservice.js"></script>
  <script src="scripts/controllers/home.js"></script>
  <script src="scripts/services/albumservice.js"></script>
  <script src="scripts/controllers/userpanelmenu.js"></script>
  <script src="scripts/controllers/trending.js"></script>
  <script src="scripts/controllers/sharepad.js"></script>
  <script src="scripts/filters/datetominutes.js"></script>
  <script src="scripts/directives/feedcard-overlay.js"></script>
  <script src="scripts/services/likeservice.js"></script>
  <script src="scripts/directives/focusme.js"></script>
  <script src="scripts/directives/start-video.js"></script>
  <script src="scripts/controllers/my-settings.js"></script>
  <script src="scripts/controllers/highlights.js"></script>
  <script src="scripts/controllers/duplicates.js"></script>
  <script src="scripts/controllers/live.js"></script>
  <script src="scripts/controllers/trends.js"></script>
  <script src="scripts/ui/slick.js"></script>
  <script src="scripts/ui/angular-slick.js"></script>
  <!-- endbuild -->
  <script>
    jQuery(document).ready(function () {
      angular.element('#md-sidebar').css('display', 'inherit');
      angular.element('md-menu-bar').css('display', 'inherit');
    });
    //Check if a new cache is available on page load.
    window.addEventListener('load', function (e) {
      window.applicationCache.addEventListener('updateready', function (e) {
        if (window.applicationCache.status == window.applicationCache.UPDATEREADY) {
          // Browser downloaded a new app cache.
          window.location.reload();
        } else {
          // Manifest didn't changed. Nothing new to server.
        }
      }, false);
    }, false);

    window.__lo_site_id = 89675;

    (function () {
      var wa = document.createElement('script'); wa.type = 'text/javascript'; wa.async = true;
      wa.src = 'https://d10lpsik1i8c69.cloudfront.net/w.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(wa, s);
    })();
    //Ensure a queue is available
    window._loq = window._loq || [];
  </script>
  <script async src="https://platform.instagram.com/en_US/embeds.js"></script>
  <script async src="https://embed.redditmedia.com/widgets/platform.js"></script>
</body>
</html>