<md-dialog aria-label="Content Format" flex-xs="90" flex="30">
    <form ng-submit="addAlbum(newAlbumName)" ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add New Album :</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon style="fill: rgba(255,255,255,0.87) !important;" md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content id="dialog_filter">
            <div style="padding: 10px;">
                <md-input-container class="md-block">
                    <label for="label">Enter Album Name</label>
                    <input type="text" id="label" ng-model="newAlbumName">
                </md-input-container>

                <md-input-container style="float:right;margin-bottom:0px;" class="md-block">
                    <md-button class="add-tab md-primary md-raised" type="submit" style="margin-right: 0;">Add Album</md-button>
                </md-input-container>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>