<md-content class="md-padding">
    <div class="clsCustomise" style="padding-top: 60px;">
        <div>
            <div>
                <h3>Your Custom Topics</h3>
                <img style="height:80px;width:100%;" src="images/2000px-Blue_globe_banner.png">
                <br>
                <div style="text-align: center;">
                    <div style="max-width:700px;border: 1px solid grey;border-radius: 5px;margin: 0 auto;">
                        <div class="custominputContainer">
                            <br><br>
                            <form name="frm-custom-category" style="width:90%" role="custom-category" class="form form-wrapper" flex md-no-float flex="50">
                                <input type="text" ng-model="personalise.value" flex md-no-float flex="50" placeholder="Add here your favorite topic, celebrity, subject etc. ...">
                                <button type="submit" ng-click="addPersonalize()">Add</button>
                            </form><br><br>
                            <md-divider></md-divider><br>
                        </div>

                        <div class="clsCustomItems">
                            <span ng-repeat="(idx,interest) in personalisedArr track by $index" ng-class="'personalise'+($index % 6)" class="personalise-tag col-md-1">
                                  <span>{{interest}}</span>
                            <span style="cursor:pointer;" ng-click="dropPersonalize(idx,interest)">
                                  <md-icon md-svg-icon="images/icons/clear.svg"></md-icon>
                                  </span>
                            </span>
                        </div><br><br>
                        <md-divider></md-divider>
                        <div class="clsSuggestTopics">
                            <h4>Suggested Topics</h4>
                            <div class="clsCatImage" ng-repeat="suggestedCategory in suggestedCategories">
                                <img img-check-dir style="filter: inherit;" name="{{suggestedCategory.title}}" class="img-rounded" ng-src="{{suggestedCategory.img_url}}"
                                />
                                <div>
                                    <h2>
                                        {{suggestedCategory.title}}
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><br>
                <md-divider></md-divider><br>
                <div md-padding style="float:right;">
                    <md-button ng-click="done(multiDevice,$event)" style="max-width:300px;" class="md-raised md-warn">DONE</md-button>
                </div>
            </div>
        </div>
    </div>
</md-content>