<div class="feed{{feed.index%4}}_{{feed.index}} feedmouseover">
    <div class="share-tray">
        <md-button style="left:50%;" ng-click="showSlideShow()" style="background-color: rgb(63,81,181);
    color: white;" class="add-tab md-primary md-raised">
            {{feed.mediaType=='video'?'Play':'View'}}
        </md-button>
    </div>
</div>