<md-dialog flex-xs="90" flex="50">
    <md-content layout-padding>
        <form class="feedbackform" name="feedbackform">
            <md-toolbar>
                <div class="md-toolbar-tools">
                    <span style="text-align:center;" class="md-headline feedbackheading">Feedback/Suggestions</span>
                </div>
            </md-toolbar>
            <md-input-container class="md-block">
                <label>Subject</label>
                <input required type="text" name="subject" ng-model="subject" md-maxlength="30" md-no-asterisk>
                <div ng-messages="feedbackform.subject.$error">
                    <div class="msg" ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Email</label>
                <input required type="email" name="userEmail" ng-model="email" minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/"
                />
                <div ng-messages="feedbackform.userEmail.$error">
                    <div class="msg" ng-message="required">This is required.</div>
                </div>
            </md-input-container>

            <md-input-container class="md-block">
                <label>Message</label>
                <input required type="text-area" ng-model="message" md-maxlength="300" name="message" ng-model="message">
                <div ng-messages="feedbackform.message.$error">
                    <div class="msg" ng-message="required">This is required.</div>
                </div>
            </md-input-container>
            <md-card-actions layout="row" layout-align="end center">
                <md-button ng-click="cancel()" class="feedbackcancel">Cancel</md-button>
                <md-button type="submit" ng-click="submitFeedback()" class="md-raised md-primary">Submit</md-button>
            </md-card-actions>
        </form>

    </md-content>
</md-dialog>