<div ng-cloak style="padding-top: 120px;">
  <div layout="row" when-scrolled>
    <div id="feed-group-one" ng-if="feeds_grp_0.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
      <md-card ng-repeat="feed in feeds_grp_0">
        <feed-card-view feed="feed" feeds="feeds"></feed-card-view>
      </md-card>
    </div>

    <div id="feed-group-two" ng-if="feeds_grp_1.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
      <md-card ng-repeat="feed in feeds_grp_1">
        <feed-card-view feed="feed" feeds="feeds"></feed-card-view>
      </md-card>
    </div>

    <div id="feed-group-three" ng-if="feeds_grp_2.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
      <md-card ng-repeat="feed in feeds_grp_2">
        <feed-card-view feed="feed" feeds="feeds"></feed-card-view>
      </md-card>
    </div>


    <div id="feed-group-four" ng-if="feeds_grp_3.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
      <md-card ng-repeat="feed in feeds_grp_3">
        <feed-card-view feed="feed" feeds="feeds"></feed-card-view>
      </md-card>
    </div>
    <div class="alert-danger" flex ng-if="errors">
      <p class="err_note">      
          <i class="material-icons">&#xE002;</i>    
          {{errors}}
      </p>
    </div>
  </div>
</div>