<div class="feedcardview" id="feed{{feed.index%4}}_{{feed.index}}" class="panel panel-default feed-container" style="border-radius: 6px;box-shadow: 0 0 15px 2px rgba(0,0,0,.2);"
  ng-mouseleave="closeOverlay(feed.index%4+'_'+feed.index)">
  <share-tray feed="feed" feeds="feeds">
    <!-- <span ng-transclude></span> -->
  </share-tray>
  <div ng-mouseleave="closeViewOverlay(feed.index%4+'_'+feed.index,feed)">
    <feedcard-overlay feed="feed" feeds="feeds"></feedcard-overlay>
  </div>
  <md-card-header>
    <md-card-avatar>
      <img ng-if="feed.feedType=='Facebook'" style="width:100%;border:1px solid #DFE0E5;" class="md-user-avatar" src="images/Facebook_media.png"
      />
      <img ng-if="feed.feedType=='Instagram'" style="width:100%;border:1px solid #DFE0E5;" class="md-user-avatar" src="images/Instagram_media.png"
      />
      <img ng-if="feed.feedType=='Youtube'" style="width:100%;border:1px solid #DFE0E5;" class="md-user-avatar" src="images/Youtube_media.png"
      />
      <img ng-if="feed.feedType=='Twitter'" style="width:100%;border:1px solid #DFE0E5;" class="md-user-avatar" src="images/Twitter_media.png"
      />
      <img ng-if="feed.feedType=='Reddit'" style="width:100%;border:1px solid #DFE0E5;" class="md-user-avatar" src="images/Reddit_media.png"
      />
      <img ng-if="feed.feedType=='Pinterest'" style="width:100%;border:1px solid #DFE0E5;" class="md-user-avatar" src="images/Pinterest_media.png"
      />

    </md-card-avatar>
    <md-card-header-text style="color:#999999;font-size: 16px;">
      <a style="text-decoration:none;color:#999999;" ng-href="{{getSourceChannelUrl(feed)}}" target="_blank">
        <span class="md-title">{{feed.prof_name | limitTo:18}}{{feed.prof_name.length > 18 ? '...' : ''}}</span>
      </a>
      <div>
        <span class="md-subhead" style="font-size:12px;color:#999999;">{{ feed.postedTimestamp | dateTotimeAgo}}</span>
      </div>
    </md-card-header-text>
    <div style="text-align: center;color:#999999;margin-top: 6px;">
      <md-icon style="min-height: 16px;min-width: 16px;height:16px;width:16px;margin-top: -5px;" md-svg-icon="images/icons/fire.svg"></md-icon>
      <span ng-if="feed.RC" style="height:fit-content;">{{feed.RC | reactionsToString}}</span>
      <span ng-if="!feed.RC" style="height:fit-content;">{{feed.LC | reactionsToString}}</span>
      <br>
      <span style="font-size: 14px;height:fit-content;">Reactions</span>
    </div>
  </md-card-header>
  <md-divider></md-divider>
  <md-card-title ng-if="feed.imageURL!=='NA'" style="padding:10px;color:#191919;">
    <md-card-title-text style="font-size:15px;color:#191919;cursor:pointer;" ng-click="showSlideShow($event)">
      <md-subhead>{{feed.title.split(' ')[0].length >45 ? (feed.title | limitTo:45) : (feed.title | limitTo:45)}} {{feed.title.length
        > 45 ? '...' : ''}}</md-subhead>
    </md-card-title-text>
  </md-card-title>
  <md-card-content style="position:relative;color:#191919;" ng-style="feed.imageURL=='NA' ? { 'background':'#e6ecf0' } :{ 'background':'inherit' }">
    <svg ng-if="feed.mediaType=='video' && feed.feedType!='Youtube' && !ybVideoId && playerState!=1 && !variableHeight" style="position:absolute;cursor:pointer;left:40%;top:38%;"
      height="48px" version="1.1" viewBox="0 0 68 48" width="68px">
      <path class="play_icon_{{feed.id}}" d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
        fill="#212121" fill-opacity="0.8"></path>
      <path d="M 45,24 27,14 27,34" fill="#fff"></path>
    </svg>
    <md-divider ng-if="feed.feedType!=='Twitter'"></md-divider>
    <md-card-title-media style="cursor: pointer;">
      <img ng-click="showSlideShow($event)" ng-if="feed.feedType!='Youtube' && feed.imageURL!='NA' && (isSearchRoute || ((feed.feedType!='Youtube' && !feed.source) || (feed.feedType!='Youtube' && feed.source.indexOf('.mp4')==-1) && !ybVideoId))"
        class="md-card-img{{feed.index%4}}_{{feed.index}}" ng-mouseover="openViewOverlay(feed.index%4+'_'+feed.index,feed)"
        ng-style="{ 'height' : getHeightAspectRatio(feed) }" ng-src="{{feed.gif || feed.imageURL}}" class="md-card-image" alt="{{feed.title | limitTo:20}}"
        image-on-load style="width:100%;">

      <video ng-style="variableHeight?{'height':'100%'}:{'height':'300px'}" ng-mouseenter="callMouseenter()" ng-mouseleave="callMouseleave()"
        feed="feed" id="video_feed{{feed.index%4}}_{{feed.index}}" ng-if="feed.mediaType=='video' && feed.source && feed.feedType!='Youtube' && feed.feedType!='Reddit' && !ybVideoId && !isSearchRoute && feed.source.indexOf('.mp4')>-1"
        style="width:100% !important;background:#000;" ng-click="pauseOrPlay()" start-video preload="metadata" controls controlsList="nodownload"
        poster={{feed.imageURL}}>
        <source ng-src="{{feed.source}}" type="video/mp4"> Your browser does not support HTML5 video.
      </video>

      <youtube ng-if="feed.feedType=='Youtube' || ybVideoId" player-options="{playerVars:{autoplay:(feed.index==1?1:0),mute:mutedFlag}}"
        video-id="{{ybVideoId || feed.id}}" width="100%" height="300px" id="myYoutubePlayer{{feed.index%4}}_{{feed.index}}"></youtube>

      <span ng-click="showSlideShow($event)" class="md-card-img{{feed.index%4}}_{{feed.index}}" ng-mouseover="openViewOverlay(feed.index%4+'_'+feed.index,feed)"
        class="description-body" ng-if="feed.imageURL=='NA'" style="background: #e6ecf0;width:100%;height:100%;">
        <p style="-webkit-margin-before: auto;-webkit-margin-after: auto;display: block;line-height: 24px;height: auto;padding: 15px 15px;font-size: 16px;">
        {{feed.description}}
        </p>
      </span>
      <span ng-if="feed.mediaType=='video' && feed.feedType!='Youtube' && !ybVideoId && isSearchRoute && (feed.feedType=='Reddit' || feed.source.indexOf('.mp4')==-1)"
        style="position: absolute;bottom:5px;right:2px;background:#000;border:0.5px solid grey;border-radius:3px;padding:4px 5px 2px 5px;min-width:30px;text-align:center;font-size:12.5px;opacity:.8;color:white;"
        ng-bind="feed.length">
      </span>
    </md-card-title-media>
    <md-divider style="margin-top: -3px;"></md-divider>
  </md-card-content>
  <md-card-actions layout="row" layout-align="center" style="color:#999999;">
    <span style="margin-right:-5px;" ng-transclude></span>
    <div ng-if="$parent.menuname!='sharepad'">
      <i ng-click="toggleLike(feed,true)" ng-style="feed.likes==true ?{'color':'#244b9d'}:{color:'#999999'}" style="margin:10px 5px 5px 10px;cursor:pointer;"
        class="material-icons">thumb_up</i>
      <i ng-click="toggleLike(feed,false)" ng-style="feed.likes==false ?{'color':'#e74a32'}:{color:'#999999'}" style="margin:10px 5px 5px 10px;cursor:pointer;"
        class="material-icons">thumb_down</i>
    </div>
    <hr>
    <md-button ng-click="toggleFavorite($event,feed)" aria-label="Favorite">
      <md-icon ng-if="!feed.favorites" md-svg-icon="images/icons/bookmark-white.svg"></md-icon>
      <md-icon ng-if="feed.favorites" md-svg-icon="images/icons/bookmark-fill.svg"></md-icon>
      Bookmark</md-button>
    <hr>
    <md-button aria-label="Share" ng-click="openOverlay(feed.index%4+'_'+feed.index)">
      <md-icon md-svg-icon="images/icons/share-symbol.svg"></md-icon>
      Share</md-button>
  </md-card-actions>
</div>