<md-dialog id="myFilterDialog" aria-label="Content Format" flex="23">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Filter By :</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon style="fill: rgba(255,255,255,0.87) !important;" md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content id="dialog_filter">
            <div class="md-dialog-content media-choice" style="padding: 10px;">
                <span>What's your choice?</span>
                <div ng-cloak layout="row" style="padding-top:5px;">
                    <div flex layout="row">
                        <div flex layout="row" layout-align="center center">
                            <md-button class="md-fab active" aria-label="Photo" ng-click="toggleMediaType(constantService.mediaType.photo)">
                                <md-icon md-svg-icon="images/icons/landscape.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="contains(constantService.mediaType.photo)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center">
                            <md-button class="md-fab" aria-label="Video" ng-click="toggleMediaType(constantService.mediaType.video)">
                                <md-icon md-svg-icon="images/icons/video-camera.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="contains(constantService.mediaType.video)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center">
                            <md-button class="md-fab" aria-label="Link" ng-click="toggleMediaType(constantService.mediaType.link)">
                                <md-icon md-svg-icon="images/icons/open-book.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="contains(constantService.mediaType.link)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div class="md-dialog-content country-choice" style="padding: 10px;">
                <span>Select your country</span>
                <div ng-cloak layout="row" style="padding-top:5px;">
                    <div flex layout="row">
                        <div flex layout="row" layout-align="center center">
                            <md-button class="md-fab" aria-label="India" ng-click="toggleCountry(constantService.country.IN)">
                                <md-icon md-svg-icon="images/icons/india.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containscountry(constantService.country.IN)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center">
                            <md-button class="md-fab" aria-label="US" ng-click="toggleCountry(constantService.country.US)">
                                <md-icon md-svg-icon="images/icons/united-states.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containscountry(constantService.country.US)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
            <div ng-if="menuname!='home'" class="md-dialog-content network-choice" style="padding: 10px;">
                <span>What's your choice?</span>
                <div ng-cloak layout="row" style="padding-top:5px;">
                    <div flex layout="row">
                        <div flex layout="row" layout-align="center center" style="padding-left:5px;padding-right:5px;">
                            <md-button class="md-fab" aria-label="Facebook" ng-click="toggleNetwork(constantService.feedTypes.Facebook)">
                                <md-icon md-svg-icon="images/icons/facebook.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containsNetwork(constantService.feedTypes.Facebook)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center" style="padding-left:5px;padding-right:5px;">
                            <md-button class="md-fab active" aria-label="Youtube" ng-click="toggleNetwork(constantService.feedTypes.Youtube)">
                                <md-icon md-svg-icon="images/icons/youtube.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containsNetwork(constantService.feedTypes.Youtube)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center" style="padding-left:5px;padding-right:5px;">
                            <md-button class="md-fab active" aria-label="Twitter" ng-click="toggleNetwork(constantService.feedTypes.Twitter)">
                                <md-icon md-svg-icon="images/icons/twitter.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containsNetwork(constantService.feedTypes.Twitter)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center" style="padding-left:5px;padding-right:5px;">
                            <md-button class="md-fab" aria-label="Instagram" ng-click="toggleNetwork(constantService.feedTypes.Instagram)">
                                <md-icon md-svg-icon="images/icons/instagram_2.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containsNetwork(constantService.feedTypes.Instagram)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                        <md-divider></md-divider>
                        <div flex layout="row" layout-align="center center" style="padding-left:5px;padding-right:5px;">
                            <md-button class="md-fab" aria-label="Reddit" ng-click="toggleNetwork(constantService.feedTypes.Reddit)">
                                <md-icon md-svg-icon="images/icons/reddit.svg"></md-icon>
                            </md-button>
                            <div style="position: inherit;z-index: 999;" ng-show="containsNetwork(constantService.feedTypes.Reddit)">
                                <img class="check" src="images/icons/checked.png">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <md-divider></md-divider>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button md-colors="{'background':'grey'}" ng-click="cancel()">
                Cancel
            </md-button>
            <md-button md-colors="{'background':'red'}" ng-click="applyFilters()">
                Apply
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>