<md-dialog flex-xs="90" flex="50" style="height:90%;" aria-label="login dialog" disableClose="false">
        <md-content layout="row" flex style="height: 100%;">
                <div flex-xs="100" flex-gt-xs="50" ng-style="cardImgStyle" style="-webkit-transition: background-image 0.5s ease-in-out;transition: background-image 0.5s ease-in-out;height:100%;background-image: url('../images/landing-page/entertainment.jpg');"></div>
                <div flex-xs="100" flex-gt-xs="50" style="text-align:center;background-image: url('../images/landing-page/social_back.png');background-position:50% 0%;background-size: cover;">
                        <img ng-src="images/trendis.png" style="width: 75px;margin-top:30%;" class="md-avatar" alt="Trendis" />
                        <div style="margin: 15px 26px 20px;text-align:center;font-weight:bold;font-size:28px;color:#555;">
                                Welcome to Trendis
                        </div>
                        <div style="margin:-10px 26px 30px;text-align:center;font-weight:bold;font-size:14px;color:#ef4a37;">
                                The front page of social media
                        </div>
                        <div>
                                <img class="img-fb-login" ng-click="login()" style="cursor: pointer;" src="images/fb_login.png" />
                        </div>
                        <div>
                                <md-button style="width: 126px;height: 45px;" ng-click="skip()" class="md-accent md-raised">SKIP</md-button>
                        </div>
                </div>
        </md-content>
</md-dialog>