<div ng-controller="HomeCtrl" ng-init="init()">
    <div id="landing" class="outer">
        <div class="inner" ng-style="innerStyle">
            <style>
                .outer {
                    height: 100%;
                    overflow: hidden;
                }

                .inner {
                    height: 92vh !important;
                    width: 100%;
                    opacity: 0.3;
                    -webkit-animation: mymove 100s linear forwards;
                    /* Safari and Chrome */
                    animation: mymove 100s linear forwards;
                    background-image: url('../images/landing-page/lifestyle_back.jpg');
                }

                md-backdrop.md-opaque,
                .md-scroll-mask {
                    height: 92.2% !important;
                }

                @-webkit-keyframes mymove {
                    from {
                        background-position: 0% 0%;
                    }
                    to {
                        background-position: 0% 100%;
                    }
                }

                @keyframes mymove {
                    from {
                        background-position: 0% 0%;
                    }
                    to {
                        background-position: 0% 100%;
                    }
                }

                @media screen and (max-width:480px) {
                    .inner {
                        height: 90.6vh !important;
                    }
                    md-backdrop.md-opaque,
                    .md-scroll-mask {
                        height: 90.6% !important;
                    }
                }
            </style>
        </div>
    </div>
    <footer>
        <div class="navbar navbar-fixed-bottom" style="z-index: 9999;text-align: center;min-height: 38px;background: #fff;padding-top: 10px;">
            <span style="color:#4c4848;font-size:13px;font-weight:bold;padding:0 4px;">Discover Trendis:</span>
            <a ng-href="#/{{countryService.getCountry()}}/humor/all" style="color:#333;font-size:12px;padding:0 4px;">Humor</a>
            <a ng-href="#/{{countryService.getCountry()}}/sports/all" style="color:#333;font-size:12px;padding:0 4px;">Sports</a>
            <a ng-href="#/{{countryService.getCountry()}}/entertainment/all" style="color:#333;font-size:12px;padding:0 4px;">Entertainment</a>
            <a ng-href="#/{{countryService.getCountry()}}/infotainment/all" style="color:#333;font-size:12px;padding:0 4px;">Infotainment</a>
            <a ng-href="#/{{countryService.getCountry()}}/lifestyle/all" style="color:#333;font-size:12px;padding:0 4px;">lifestyle</a>
        </div>
    </footer>
</div>