<md-dialog aria-label="Content Format" flex-xs="90" flex="30">
    <form ng-cloak>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>You want to move it into another album?</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon style="fill: rgba(255,255,255,0.87) !important;" md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content id="dialog_filter">
            <div class="albuminputContainer" style="padding: 10px;">
                <md-input-container>
                    <label>Albums</label>
                    <md-select ng-model="selectedAlbumindropdown" md-selected-text="getSelectedAlbum()">
                        <md-optgroup label="albums">
                            <md-option ng-value="album" ng-repeat="album in albumsData">{{album.title}}
                            </md-option>
                        </md-optgroup>
                    </md-select>
                </md-input-container>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="cancelmovetoalbumdialog()" style="max-width:300px;" class="md-raised md-warn">Cancel</md-button>
            <md-button ng-click="addFavoriteToAlbum()" style="max-width:300px;" class="md-raised md-primary">Submit</md-button>
        </md-dialog-actions>

    </form>
</md-dialog>