<div style="padding-top: 70px;" ng-cloak>
    <md-content layout-xs="column" layout="row">
            <md-button style="height:0;" class="md-raised md-primary"><a style="text-decoration:none;color:white;" href="#/trending">Back</a></md-button>
        <div style="margin:0 auto;" flex-xs flex="60" layout="column">
            <md-card-content style="padding:16px;">
                <div style="display:flex;">
                    <span style="font-size: 24px;color: #212121;margin: 0 auto 16px 0;">Manage sections
                    </span>
                </div>
                <div>
                    <div>
                        <div flex="100">
                            Type in any topic to create a new section . E.g. Recipe,Dodgers, Beyonce . Hide any default section (e.g.
                            Humor, Entertainment) that you are not interested in.
                        </div>
                    </div>
                </div>
            </md-card-content>
        </div>
    </md-content>
    <md-content layout-xs="column" layout="row">
        <div style="margin:0 auto;" flex-xs flex="60" layout="column">
            <md-card>
                <md-card-content style="padding:16px;">
                    <div style="display:flex;">
                        <span style="font-size: 18px;color: #212121;margin: 0 auto 16px 0;">Create New Category</span>
                    </div>
                    <div>
                        <div>
                            <!-- <span style="font-size: 14px;color: #757575;margin-bottom: 4px !important;">Search terms
                            </span> -->
                            <div flex="100" style="display:flex;margin-top:4px;border: 1px solid rgba(0,0,0,0.2);height:34px;">
                                <input flex="100" style="border-color: transparent;border-style: solid;border-width: 0 1px;outline: none;padding: 0 16px;height: 100%;"
                                    type="text" placeholder="Type to add categories like Recipe, Dodgers, Beyonce etc." ng-model="newCategory">
                            </div>
                        </div>
                        <div style="width:fit-content;float:right;margin-top:23px;color:rgba(68,68,68,0.502) !important;" ng-click="createCategory()">
                            <md-button style="color:white;" ng-style="{'background-color': newCategory ? '#4285f4': '#f5f5f5','color':newCategory ? 'white': '#757575'}">
                                ADD CATEGORY </md-button>
                        </div>
                    </div>
                </md-card-content>
            </md-card>
        </div>
    </md-content>
    <md-content layout-xs="column" layout="row">
        <div style="margin:0 auto;" flex-xs flex="60" layout="column">
            <md-card>
                <md-card-content ui-sortable="sortableOptions" ng-model="userDefinedCategories" style="padding:16px;">
                    <div style="display:flex;">
                        <span style="font-size: 18px;color: #212121;margin: 0 auto 16px 0;">Active Categories</span>
                        <span style="font-size: 12px;color:#757575;margin-bottom:16px;">Drag to reorder</span>
                    </div>

                    <div id="sortable" style="padding:8px;border:1px solid #e0e0e0;margin-bottom:4px;border-radius:2px;display:flex;cursor:pointer;"
                        ng-repeat="cat in userDefinedCategories track by $index">
                        <i class="material-icons drag_handle">drag_handle</i>&nbsp;
                        <div style="margin-top:3px;font-size:15px;color:#404348;text-transform:capitalize;" flex="100">
                            <span flex="33">{{cat.name}}
                            </span>
                        </div>
                        <span ng-click="removeCategory(cat)" class="hidelink">
                            <a style="text-decoration:none;color:#757575;font-size: 12px;font-weight: 400;" href="">Hide</a>
                        </span>
                    </div>
                </md-card-content>

                <md-card-content style="padding:16px;">
                    <div style="display:flex;">
                        <span style="font-size: 18px;color: #212121;margin: 0 auto 16px 0;">Add more Categories</span>
                    </div>
                    <div id="sortable" style="padding:8px;border:1px solid #e0e0e0;margin-bottom:4px;border-radius:2px;display:flex;cursor:pointer;"
                        ng-repeat="cat in hiddenCategories track by $index">
                        <div style="margin-top:3px;font-size:15px;color:#404348;text-transform:capitalize;padding-left:34px;" flex="100">
                            <span flex="33">{{cat.name}}
                            </span>
                        </div>
                        <span class="hidelink" ng-click="addCategory(cat)">
                            <a style="text-decoration:none;color:#757575;font-size: 12px;font-weight:400;" href="">Show</a>
                        </span>
                    </div>

                </md-card-content>
            </md-card>
        </div>
    </md-content>
</div>