<md-content class="md-padding">
<div class="clsCustomise" style="padding-top: 60px;">
    <div class="clsCategories">
        <div>
            <p ng-if="errorMsg" class="bg-danger">{{errorMsg}}</p>
            <h3>Select Topics</h3>
            <img style="height:80px;width:100%;" src="images/2000px-Blue_globe_banner.png">
            <br>
            <div style="text-align: center;">
                <div class="clsCatImage" ng-repeat="cat in imgSubCategories">
                    <img img-check-dir selectedItems="{{selectedItems}}" id="{{cat.id}}" class="img-rounded" name="{{cat.category}}__{{cat.subCategory}}"
                        ng-src="images/app_images/{{cat.imgpath}}" />
                    <div>
                        <h2>
                            {{cat.subCategory=='all'? cat.category : cat.subCategory}}
                        </h2>
                    </div>
                </div>
            </div>
            <md-divider></md-divider><br>
            <div md-padding style="float:right;">
                <md-button ng-click="next()" style="max-width:300px;" class="md-raised md-warn">SAVE & NEXT</md-button>
                <md-button ng-click="done(multiDevice,$event)" style="max-width:300px;" class="md-raised md-primary">DONE</md-button>
            </div>
        </div>
    </div>
</div>
</md-content>