<div class="feed{{feed.index%4}}_{{feed.index}} after">
    <div class="share-tray">
      <a  data-toggle="tooltip" data-placement="top" title="Facebook" ng-click="share($event, shareConstants.Facebook); $event.stopPropagation();" class="fa share share-facebook"><img src="images/share_icons/fb.png"/></a>
      <a data-toggle="tooltip" data-placement="top" title="Twitter" ng-click="share($event, shareConstants.Twitter); $event.stopPropagation();" class=" fa share share-twitter" ><img src="images/share_icons/twitter.png"/></a>
      <a data-toggle="tooltip" data-placement="top" title="Reddit" ng-click="share($event, shareConstants.Reddit); $event.stopPropagation();" class=" fa share share-reddit"><img src="images/share_icons/reddit.png"/></a>
      <a data-toggle="tooltip" data-placement="top" title="Email" ng-click="showShareContent($event); $event.stopPropagation();"  ng-href="mailto:?subject=shared via Trendis&body={{feed.sourceLink}}" class="fa share share-email"><img src="images/share_icons/email.png"/></a>
    </div>
  </div>
  