<section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
    <md-button ng-click="share($event, shareConstants.Facebook)" style="background:#f3f3f3;" class="md-fab md-mini md-primary" aria-label="Use Android">
        <md-icon md-svg-src="images/icons/facebook.svg"></md-icon>
    </md-button>
    <md-button ng-click="share($event, shareConstants.Twitter)" style="background:#f3f3f3;" class="md-fab md-mini md-primary" aria-label="Use Android">
        <md-icon md-svg-src="images/icons/twitter.svg"></md-icon>
    </md-button>
    <md-button ng-click="share($event, shareConstants.Reddit)" style="background:#f3f3f3;" class="md-fab md-mini md-primary" aria-label="Use Android">
        <md-icon md-svg-src="images/icons/reddit.svg"></md-icon>
    </md-button>
    <md-button style="background:#f3f3f3;" class="md-fab md-mini md-primary" aria-label="Use Android">
            <a ng-href="{{getShareURL(shareConstants.Mail, feed)}}"><md-icon md-svg-src="images/icons/mail.svg"></md-icon></a>
    </md-button>
    <md-button ng-click="toggleFavorite(feed)" style="background:#f3f3f3;" class="md-fab md-mini md-primary" aria-label="Use Android">
        <md-icon style="min-height:18px;height:18px;" ng-if="!feed.favorites" md-svg-icon="images/icons/bookmark-white.svg"></md-icon>
        <md-icon style="min-height:18px;height:18px;" ng-if="feed.favorites" md-svg-icon="images/icons/bookmark-fill.svg"></md-icon>
    </md-button>
</section>