<div ng-cloak style="padding-top: 75px;">
    <div class="addAlbums" layout="row" ng-cloak>
        <div>
            <md-button style="background-color: rgb(63,81,181);
        color: white;" ng-click="openaddAlbumdialog()" class="add-tab md-primary md-raised" type="submit">
                Add Album
            </md-button>
        </div>

        <div flex="100" style="margin-left:28px;">
            <md-tabs md-selected="selectedIndex" md-border-bottom md-autoselect md-swipe-content>
                <md-tab ng-repeat="album in albumsData" ng-click="albumClicked(album.id)">
                    <md-tab-label>{{album.title}}
                    </md-tab-label>
                </md-tab>
            </md-tabs>
        </div>
    </div>
    <div layout="row" when-scrolled>
        <div id="feed-group-one" ng-if="feeds_grp_0.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33">
            <md-card ng-repeat="feed in feeds_grp_0 track by $index" layout="column">
                <feed-card-view feed="feed" feeds="feeds" tansflag="true">
                    <md-button style="margin-right: 0px" ng-click="setSelectedFeed(feed)" class="md-icon-button" aria-label="Favorite">
                        <img ng-src="images/icons/move_to_album.png" />
                    </md-button>
                </feed-card-view>
            </md-card>
        </div>

        <div id="feed-group-two" ng-if="feeds_grp_1.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
            <md-card ng-repeat="feed in feeds_grp_1 track by $index">
                <feed-card-view feed="feed" feeds="feeds">
                    <md-button style="margin-right: 0px" ng-click="setSelectedFeed(feed)" class="md-icon-button" aria-label="Favorite">
                        <img ng-src="images/icons/move_to_album.png" />
                    </md-button>
                </feed-card-view>
            </md-card>
        </div>

        <div id="feed-group-three" ng-if="feeds_grp_2.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
            <md-card ng-repeat="feed in feeds_grp_2 track by $index">
                <feed-card-view feed="feed" feeds="feeds">
                    <md-button style="margin-right: 0px" ng-click="setSelectedFeed(feed)" class="md-icon-button" aria-label="Favorite">
                        <img ng-src="images/icons/move_to_album.png" />
                    </md-button>
                </feed-card-view>
            </md-card>
        </div>

        <div id="feed-group-four" ng-if="feeds_grp_3.length>0" flex-xs flex-sm="50" flex-gt-md="25" flex-md="33" layout="column">
            <md-card ng-repeat="feed in feeds_grp_3 track by $index">
                <feed-card-view feed="feed" feeds="feeds">
                    <md-button style="margin-right: 0px" ng-click="setSelectedFeed(feed)" class="md-icon-button" aria-label="Favorite">
                        <img ng-src="images/icons/move_to_album.png" />
                    </md-button>
                </feed-card-view>
            </md-card>
        </div>
        <div class="alert-danger" flex ng-if="errors">
            <p class="err_note">
                <i class="material-icons">&#xE002;</i> {{errors}}
            </p>
        </div>
    </div>

    <md-button ng-if="selectedAlbum!='1' && selectedAlbumId !=1" style="background:#1E90FF;position:fixed;" ng-click="confirmDialog($event)"
        class="md-fab md-fab-bottom-right" aria-label="Use Android">
        <md-icon md-svg-src="images/icons/delete_Album.svg"></md-icon>
    </md-button>

</div>