<md-dialog style="max-width:98%;" id="sm-feed-view" aria-label="Post-view" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Post view</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="images/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
                <div style="padding:2px;min-height: 150px;min-width:320px;text-align:center;" class="modal-body sm-feed-view-body">
                <img style="text-align:center;" src="images/loading.gif" alt="loader">    
                </div>
        </md-dialog-content>
    </form>
</md-dialog>