<div class="sub-tabs" layout="column" flex ng-cloak style="top: 64px;z-index:9;position: fixed;width: 100%;background: white;">
   <div ng-if="activeMenuConfig.id!='home' && menuname!='home' && menuname!='live' && menuname!='search' && menuname!='copyright'">
        <md-tabs md-selected="$parent.$parent.selectedIndex" md-border-bottom md-swipe-content md-stretch-tabs>
            <md-tab ng-click="changeCategory(subMenuConfig,false)" ng-repeat="subMenuConfig in activeMenuConfig.subMenuConfigs">
                <md-label>
                    {{subMenuConfig.name}}
                </md-label>
            </md-tab>
        </md-tabs>
    </div>

    <div ng-if="activeMenuConfig.id==='home' && (menuname=='home' || menuname=='personalise')">
        <md-tabs md-selected="$parent.$parent.selectedIndex" md-border-bottom md-swipe-content md-stretch-tabs>
            <md-tab ng-click="changeCategory(undefined,undefined)">
                <md-label>
                    Home
                </md-label>
            </md-tab>
            <md-tab ng-click="changeCategory(subMenuConfig,true)" ng-repeat="subMenuConfig in userDefinedItems">
                <md-label>
                    {{subMenuConfig.name}}
                </md-label>
            </md-tab>
            <md-tab ng-click="changeCategory('my-settings',false)">
                    <md-label style="color:red;">
                        Personalize(+)
                    </md-label>
                </md-tab>
        </md-tabs>
    </div>

    <div ng-if="menuname=='search'">
        <md-nav-bar nav-bar-aria-label="navigation links">
            <md-menu-bar>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">
                        <span>{{searchInfo.selectedTimeLimit.value}}</span>
                        <md-icon md-svg-icon="images/icons/down_arrow_24px.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-click="filterSearch('timelimit')">
                            <md-button ng-class="searchInfo.selectedTimeLimit.id=='all'?'md-raised':''" ng-click="searchInfo.selectedTimeLimit={'id':'all','value':'Any Time'}">
                                Any Time
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterSearch('timelimit')">
                            <md-button ng-class="searchInfo.selectedTimeLimit.id=='1'?'md-raised':''" ng-click="searchInfo.selectedTimeLimit={'id':'1','value':'Past 24 Hour'}">
                                Past 24 Hour
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterSearch('timelimit')">
                            <md-button ng-class="searchInfo.selectedTimeLimit.id=='3'?'md-raised':''" ng-click="searchInfo.selectedTimeLimit={'id':'3','value':'Past 3 Days'}">
                                Past 3 Days
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterSearch('timelimit')">
                            <md-button ng-class="searchInfo.selectedTimeLimit.id=='7'?'md-raised':''" ng-click="searchInfo.selectedTimeLimit={'id':'7','value':'Past Week'}">
                                Past Week
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
            <md-menu-bar>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">
                        <span>{{searchInfo.selectedSortBy.value}}</span>
                        <md-icon md-svg-icon="images/icons/down_arrow_24px.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-click="filterSearch('sortby')">
                            <md-button ng-class="searchInfo.selectedSortBy.id=='t'?'md-raised':''" ng-click="searchInfo.selectedSortBy={'id':'t','value':'Sort By Time'}">
                                Sort By Time
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterSearch('sortby')">
                            <md-button ng-class="searchInfo.selectedSortBy.id=='r'?'md-raised':''" ng-click="searchInfo.selectedSortBy={'id':'r','value':'Sort By Relevance'}">
                                Sort By Relevance
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
            <md-menu-bar>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">
                        <span>{{searchInfo.selectedCategory.value}}</span>
                        <md-icon md-svg-icon="images/icons/down_arrow_24px.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-click="filterSearch('category')">
                            <md-button ng-class="searchInfo.selectedCategory.id=='all'?'md-raised':''" ng-click="searchInfo.selectedCategory={'id':'all','value':'Any Category'}">
                                Any Category
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterSearch('category')" ng-repeat="category in menuConfigs | filter:{feedCategory : true}">
                            <md-button ng-class="searchInfo.selectedCategory.id==category.id?'md-raised':''" ng-click="searchInfo.selectedCategory={'id':category.id,'value':category.name}">
                                {{category.name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </md-nav-bar>
    </div>

    <div ng-if="menuname=='live'">
        <md-nav-bar nav-bar-aria-label="navigation links">
            <md-menu-bar><strong>Filter By Source : </strong>
                <md-menu>
                    <md-button ng-click="$mdOpenMenu()">
                        <span>{{selectedLiveSource || 'All Sources'}}</span>
                        <md-icon md-svg-icon="images/icons/down_arrow_24px.svg"></md-icon>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item ng-click="filterLive('all')">
                            <md-button>
                                All Sources
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterLive('Facebook')">
                            <md-button>
                                Facebook
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterLive('Twitter')">
                            <md-button>
                                Twitter
                            </md-button>
                        </md-menu-item>
                        <md-menu-item ng-click="filterLive('Youtube')">
                            <md-button>
                                Youtube
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </md-menu-bar>
        </md-nav-bar>
    </div>
</div>