<!--======= header =======-->
<header>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-12">
                <a id="main-category-toggler" class="hidden-md hidden-lg">
                    <i class="fa fa-navicon"></i>
                </a>
                <a id="main-category-toggler-close" class="hidden-md hidden-lg">
                    <i class="fa fa-close"></i>
                </a>
                <div id="logo">
                    <a href="#/trends">
                        <img style="height:50px;" src="images/big-logo.png" alt="logo">
                    </a>
                </div>
            </div>
            <!-- // col-md-2 -->
            <div class="col-lg-5 col-md-5 col-sm-4 hidden-xs hidden-sm">
            </div>
            <!-- // col-md-4 -->
            <div class="col-lg-5 col-md-5 col-sm-5 hidden-xs hidden-sm">
                <div class="search-form">
                    <form id="search" ng-submit="searchFeed(searchText)" method="post">
                        <input type="text" ng-model="searchText" placeholder="Search ..." />
                        <input type="submit" value="Keywords" />
                    </form>
                </div>
            </div>
            <!-- // col-md-4 -->
            <!-- <div class="col-lg-1 col-md-1 col-sm-1 hidden-xs hidden-sm">
                <ul class="top-menu">
                    <li>
                        <a ng-click="isLoggedIn?logout():login()">{{isLoggedIn?'Sign Out':'Sign In'}}</a>
                    </li>
                </ul>
            </div> -->
        </div>
        <!-- // row -->
    </div>
    <!-- // container-full -->
</header>
<!-- // header -->
<div id="main-category" class="hidden-md hidden-lg">
    <div class="container-full">
        <div class="row">
            <div class="col-md-12">
                <ul class="main-category-menu">
                    <li class="color-1">
                        <a href="#/trending">
                            <i class="fa fa-home"></i>Home</a>
                    </li>
                    <li class="color-2">
                        <a href="#/{{countryService.getCountry() || 'US'}}/humor/all">
                            <i class="fa fa-smile-o"></i>Humor</a>
                    </li>
                    <li class="color-2">
                        <a href="#/{{countryService.getCountry() || 'US'}}/sports/all">
                            <i class="fa fa-soccer-ball-o"></i>Sports</a>
                    </li>
                    <li class="color-3">
                        <a href="#/{{countryService.getCountry() || 'US'}}/entertainment/all">
                            <i class="fa fa-music"></i>Entertainment</a>
                    </li>
                    <li class="color-4">
                        <a href="#/{{countryService.getCountry() || 'US'}}/infotainment/all">
                            <i class="fa fa-globe"></i>Infotainment</a>
                    </li>
                    <li class="color-1">
                        <a href="#/{{countryService.getCountry() || 'US'}}/lifestyle/all">
                            <i class="fa fa-th-large"></i>Lifestyle</a>
                    </li>
                    <li class="color-2">
                        <a href="#/{{countryService.getCountry() || 'US'}}/hobbies/all">
                            <i class="fa fa-gamepad"></i>Hobbies</a>
                    </li>
                    <li class="color-3">
                        <a>
                            <i class="fa fa-th-large"></i>My Settings</a>
                        <ul>
                            <li ng-if="!isLoggedIn">
                                <a ng-click="login()">Sign In</a>
                            </li>
                            <li>
                                <a href="#/my-settings">Personalise </a>
                            </li>
                            <li>
                                <a href="#/sharepad">Saved </a>
                            </li>
                            <li>
                                <a href="#/copyright">Privacy </a>
                            </li>
                            <li>
                                <a ng-click="feedback()">Feedback </a>
                            </li>
                            <li ng-if="isLoggedIn">
                                <a ng-click="logout()">Sign Out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- // col-md-14 -->
        </div>
        <!-- // row -->
    </div>
    <!-- // container-full -->
</div>
<!-- // main-category -->


<div class="site-output">
    <div class="col-md-3 no-padding-left hidden-sm hidden-xs" style="padding-right: 1px;">
        <div class="row left-sidebar" style="margin-right: 0;">
            <div id="sidebar-stick">
                <h4>Main</h4>
                <md-list>
                    <md-list-item class="noright">
                        <a href="#/trending">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/home.svg"></md-icon>
                            </md-button>
                            Home</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/{{countryService.getCountry() || 'US'}}/humor/all">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/humor.svg"></md-icon>
                            </md-button>
                            Humor</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/{{countryService.getCountry() || 'US'}}/sports/all">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/basketball.svg"></md-icon>
                            </md-button>
                            Sports</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/{{countryService.getCountry() || 'US'}}/entertainment/all">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/entertainment.svg"></md-icon>
                            </md-button>
                            Entertainment</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/{{countryService.getCountry() || 'US'}}/infotainment/all">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/infotainment.svg"></md-icon>
                            </md-button>
                            Infotainment</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/{{countryService.getCountry() || 'US'}}/lifestyle/all">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/lifestyle.svg"></md-icon>
                            </md-button>
                            Lifestyle</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/{{countryService.getCountry() || 'US'}}/hobbies/all">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <md-icon md-svg-icon="images/icons/hobbies.svg"></md-icon>
                            </md-button>
                            Hobbies</a>
                    </md-list-item>

                    <md-list-item class="noright">
                        <a href="#/my-settings">
                            <md-button style="width:32px;height:32px;min-height:32px;background-color: #df210f;" class="md-fab md-mini" aria-label="User">
                                <i style="margin-top:5px;" class="material-icons">queue</i>
                            </md-button>
                            Personalise</a>
                    </md-list-item>
                </md-list>
                <br>
                <h4>library</h4>
                <ul class="menu-sidebar">
                    <li>
                        <a href="#/sharepad" style="display: inline-flex;">
                            <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="0.264in" height="0.264in">
                                <path fill-rule="evenodd" fill="rgb(149, 159, 187)" d="M15.907,19.000 L3.093,19.000 C1.388,19.000 0.000,17.983 0.000,16.732 C0.000,15.697 0.952,14.821 2.248,14.551 L2.248,-0.000 L19.000,-0.000 L19.000,16.732 C19.000,17.983 17.612,19.000 15.907,19.000 ZM1.690,16.732 C1.690,17.299 2.320,17.761 3.093,17.761 L13.152,17.761 C12.936,17.452 12.814,17.102 12.814,16.732 C12.814,16.362 12.935,16.013 13.151,15.704 L3.093,15.704 C2.320,15.704 1.690,16.165 1.690,16.732 ZM17.310,1.239 L3.938,1.239 L3.938,14.465 L15.907,14.465 L15.907,15.704 C15.133,15.704 14.504,16.165 14.504,16.732 C14.504,17.299 15.133,17.761 15.907,17.761 C16.680,17.761 17.310,17.299 17.310,16.732 L17.310,1.239 ZM7.807,2.898 L13.441,2.898 L13.441,4.137 L7.807,4.137 L7.807,2.898 Z"
                                />
                            </svg>&nbsp;&nbsp;&nbsp;Saved</a>
                    </li>
                </ul>
                <h4>Trendis</h4>
                <ul class="menu-sidebar">
                    <li>
                        <a href="#/copyright" style="display: inline-flex;">
                            <!-- <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="0.333in" height="0.333in">
                                <path fill-rule="evenodd" fill="rgb(223, 223, 223)" d="M3.000,-0.000 L21.000,-0.000 C22.657,-0.000 24.000,1.343 24.000,3.000 L24.000,21.000 C24.000,22.657 22.657,24.000 21.000,24.000 L3.000,24.000 C1.343,24.000 0.000,22.657 0.000,21.000 L0.000,3.000 C0.000,1.343 1.343,-0.000 3.000,-0.000 Z"
                                />
                            </svg> -->
                            <i class="material-icons">copyright</i>
                            &nbsp;&nbsp;Privacy</a>
                    </li>
                    <li>
                        <a ng-click="feedback()" style="display: inline-flex;cursor:pointer;">
                            <!-- <svg xmlns="https://www.w3.org/2000/svg" xmlns:xlink="https://www.w3.org/1999/xlink" width="0.333in" height="0.333in">
                                <path fill-rule="evenodd" fill="rgb(223, 223, 223)" d="M3.000,-0.000 L21.000,-0.000 C22.657,-0.000 24.000,1.343 24.000,3.000 L24.000,21.000 C24.000,22.657 22.657,24.000 21.000,24.000 L3.000,24.000 C1.343,24.000 0.000,22.657 0.000,21.000 L0.000,3.000 C0.000,1.343 1.343,-0.000 3.000,-0.000 Z"
                                />
                            </svg> -->
                            <i class="material-icons">feedback</i>
                            &nbsp;&nbsp;Send feedback</a>
                    </li>
                </ul>
            </div>
            <!-- // sidebar-stick -->
            <div class="clear"></div>
        </div>
        <!-- // left-sidebar -->
    </div>
    <!-- // col-md-2 -->

    <div id="all-output" class="col-md-9" style="background: #FFF;">
        <div class="row" style="background-color: #f2f2f2;">
            <!-- welcome-item -->
            <!-- <div class="col-lg-6 col-md-6 col-sm-6" style="text-align:center;margin-top:30px;">
                <span style="color:black;font-size:40px;font-weight:bold;">Welcome to Trendis</span>
                <div>
                    <p></p>
                    <br>
                    <span style="font-size:28px;">The front page of social media that gets you trending content tailored around your interests.</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="margin-bottom:30px;">
                <img src="images/trendis-welcome.png" style="height:100%;" alt="Trendis flow">
            </div> -->
            <div>
                <img src="images/trendis-welcome1.jpg" alt="Trendis flow">
            </div>
        </div>
        <!-- // row -->

        <h1 class="new-video-title">
            <i class="fa fa-rocket"></i> Trending this hour</h1>
        <div class="row feed-items">
            <slick settings="slickConfig" arrows="true" data="hour_feeds" ng-if="hour_feeds.length > 0">
                <!-- video-item -->
                <div class="col-lg-3 col-md-4 col-sm-6 feed-item" ng-repeat="feed in hour_feeds">
                    <div class="video-item" ng-click="showSlideShow(feed)">
                        <div class="thumb">
                            <div class="hover-efect"></div>
                            <small ng-if="feed.mediaType=='video'" class="time">{{feed.length}}</small>
                            <a>
                                <img ng-src="{{feed.imageURL}}" alt="">
                            </a>
                        </div>
                        <div class="video-info">
                            <a class="title" style="height: 40px;"> {{feed.title.split(' ')[0].length >45 ? (feed.title | limitTo:45) : (feed.title | limitTo:45)}}
                                {{feed.title.length > 45 ? '...' : ''}}</a>
                            <a class="channel-name">{{feed.feedType}}
                            </a>
                            <span class="views" ng-if="feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.RC | reactionsToString}}</span>
                            <span class="views" ng-if="!feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.LC | reactionsToString}}</span>
                            <span class="date">
                                <i class="fa fa-clock-o"></i>{{ feed.postedTimestamp | dateTotimeAgo}}</span>
                        </div>
                    </div>
                </div>
                <!-- // video-item -->
            </slick>
        </div>
        <!-- // row -->
        <h1 class="new-video-title">
            <i class="fa fa-rocket"></i> Trending in last 24 hours</h1>
        <div class="row feed-items">
            <slick settings="slickConfig" data="day_feeds" ng-if="day_feeds.length > 0">
                <!-- video-item -->
                <div class="col-lg-3 col-md-4 col-sm-6 feed-item" ng-repeat="feed in day_feeds">
                    <div class="video-item" ng-click="showSlideShow(feed)">
                        <div class="thumb">
                            <div class="hover-efect"></div>
                            <small ng-if="feed.mediaType=='video'" class="time">{{feed.length}}</small>
                            <a>
                                <img ng-src="{{feed.imageURL}}" alt="">
                            </a>
                        </div>
                        <div class="video-info">
                            <a class="title" style="height: 40px;"> {{feed.title.split(' ')[0].length >45 ? (feed.title | limitTo:45) : (feed.title | limitTo:45)}}
                                {{feed.title.length > 45 ? '...' : ''}}</a>
                            <a class="channel-name">{{feed.feedType}}
                            </a>
                            <span class="views" ng-if="feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.RC | reactionsToString}}</span>
                            <span class="views" ng-if="!feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.LC | reactionsToString}}</span>
                            <span class="date">
                                <i class="fa fa-clock-o"></i>{{ feed.postedTimestamp | dateTotimeAgo}}</span>
                        </div>
                    </div>
                </div>
                <!-- // video-item -->
            </slick>
        </div>
        <!-- // row -->
        <h1 class="new-video-title">
            <i class="fa fa-smile-o"></i> Trending Humor</h1>
        <div class="row feed-items">
            <slick settings="slickConfig" data="humor_feeds" ng-if="humor_feeds.length > 0">
                <!-- video-item -->
                <div class="col-lg-3 col-md-4 col-sm-6 feed-item" ng-repeat="feed in humor_feeds">
                    <div class="video-item" ng-click="showSlideShow(feed)">
                        <div class="thumb">
                            <div class="hover-efect"></div>
                            <small ng-if="feed.mediaType=='video'" class="time">{{feed.length}}</small>
                            <a>
                                <img ng-src="{{feed.imageURL}}" alt="">
                            </a>
                        </div>
                        <div class="video-info">
                            <a class="title" style="height: 40px;"> {{feed.title.split(' ')[0].length >45 ? (feed.title | limitTo:45) : (feed.title | limitTo:45)}}
                                {{feed.title.length > 45 ? '...' : ''}}</a>
                            <a class="channel-name">{{feed.feedType}}
                            </a>
                            <span class="views" ng-if="feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.RC | reactionsToString}}</span>
                            <span class="views" ng-if="!feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.LC | reactionsToString}}</span>
                            <span class="date">
                                <i class="fa fa-clock-o"></i>{{ feed.postedTimestamp | dateTotimeAgo}}</span>
                        </div>
                    </div>
                </div>
                <!-- // video-item -->
            </slick>
        </div>
        <h1 class="new-video-title">
            <i class="fa fa-soccer-ball-o"></i> Trending sports</h1>
        <div class="row feed-items">
            <slick settings="slickConfig" data="humor_feeds" ng-if="humor_feeds.length > 0">
                <!-- video-item -->
                <div class="col-lg-3 col-md-4 col-sm-6 feed-item" ng-repeat="feed in sports_feeds">
                    <div class="video-item" ng-click="showSlideShow(feed)">
                        <div class="thumb">
                            <div class="hover-efect"></div>
                            <small ng-if="feed.mediaType=='video'" class="time">{{feed.length}}</small>
                            <a>
                                <img ng-src="{{feed.imageURL}}" alt="">
                            </a>
                        </div>
                        <div class="video-info">
                            <a class="title" style="height: 40px;"> {{feed.title.split(' ')[0].length >45 ? (feed.title | limitTo:45) : (feed.title | limitTo:45)}}
                                {{feed.title.length > 45 ? '...' : ''}}</a>
                            <a class="channel-name">{{feed.feedType}}
                            </a>
                            <span class="views" ng-if="feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.RC | reactionsToString}}</span>
                            <span class="views" ng-if="!feed.RC">
                                <i class="fa fa-thumbs-o-up"></i>{{feed.LC | reactionsToString}}</span>
                            <span class="date">
                                <i class="fa fa-clock-o"></i>{{ feed.postedTimestamp | dateTotimeAgo}}</span>
                        </div>
                    </div>
                </div>
                <!-- // video-item -->
            </slick>
        </div>
        <!-- // row -->
    </div>
</div>